@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

body {
  font-family: 'Montserrat';
  margin: 0;
  line-height: 1.5em;
}
 h1{
   line-height: 1em;
 }
p {
  font-size: .9em;
}

a {
  color:black;
}

/* .title-right {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1.5em;
} */
.boot-container{
  margin: 0 20%;
}

/* .home-container{
margin:50px 20% 0 20%;
} */
.not-boot-container {
  margin: 0;
}

 