.addtask-form{
    display: flex;
    width: 80%;
    margin: 50px 0px;
    /* margin-bottom: 5em; */
}
.addtask-form input{
    height: 40px;
    width: 80%;
    font-size: 1em;
}
.addtask-form button{
    width: 20%;
    font-size: 1.2em;
}
.task-container p{
    font-size: 1.2em;
}
.task-container {
    margin: 100px 20% 15em 20%;
    height: 20vh;
}
#task-list:hover {
    text-decoration: line-through;
}
.addtask-form button {
    background: black;
    color: white;
    font-size: 1em;
}
@media only screen 
  and (max-device-width: 700px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .nav-container {
        margin: 2em 10%;
    }
   
}