.dribb {
    margin: 170px 10% 150px 10%;
    display: flex;
    justify-content: space-between;
}

.dribb .flex-bs {
    flex-basis: 30em;
}
h3 {
    text-align: center;
}
.typewriter {
    font-size: 1.7em;
    /* font-style: italic; */
    /* font-weight: 500; */
    line-height: 1;
    /* background-color:#cacaca; */
    /* transform: rotate(-12deg); */
}