.orange-eye {
    background-color: #FF8401;
    height: 500px;
    position: relative;
    display:block;
    margin : 0 auto;
}
.amelie{
  position: absolute;
  z-index: 2;
  right: 35%;

}

.eva {
    position: absolute;
    right: 35%;
    z-index: 1;
    bottom: -80%;
    transform: rotate(-10deg); 
}

.halfface {
    position: absolute;
    right: 60%;
    height: 500px;
    /* transform: rotate(30deg);  */
}

.triangle{
    position: absolute;
    right: 24%;
    bottom: -63%;

}

.circle{
    position: absolute;
    right: 52%;
    bottom: 35%;
} 
.star{
    position: absolute;
    right: 43%;
    /* bottom: 2%; */
    bottom: -67%;
} 
.square {
    position: absolute;
    right: 29%;
    bottom: -26%;
}
.textone{
    position: absolute;
    right: 40%;
    z-index: 5;
    bottom: -8%;
}
.texttwo{
    position: absolute;
    right: 49%;
    z-index: 6;
    bottom: -17%;
}
.textthree{
    position: absolute;
    right: 39%;
    z-index: 6;
    bottom: -18%;
}
.textfour{
    position: absolute;
    right: 48%;
    z-index: 6;
    bottom: -27%;
}