.blog-container {
 
    margin: 50px 20% 0 20%;
    display: flex;
    flex-flow: column;
}

.blog-container li {
    list-style-type: none;
}

.blog-container p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.read-more {
    display:flex;
    justify-content: flex-end;
    font-weight: 600;
}
.blog-container ul {
    padding: 0;
}

.blog-container ul, .blog-container p {
    padding: 0;
    /* width: 80%; */
}
/* .scew-container { */
    /* background: black;
    color: white;
} */
.blog-container li, .del, .read-more{
    
cursor: pointer;
}

/* @media only screen 
  and (max-device-width: 700px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .blog-container {
        margin: 50px 10%;
    }
} */