.diogo-page-container {
    background-color: black;
    width: 100%;
}
.white-container {
    background-color: white;
    margin: 3% 22%;
    border-top-style: outset;
    border-bottom-style: outset;
}
.lopes-image {
    display: flex;
    justify-content: center;
    /* margin-top: 13em; */
    padding-top: 7em;
    
}
.lopes-image img {
    display: block;
    max-width: 253px;
    max-height: 160px;
    width: auto;
    height: auto;
}

.lopes-image p {
    margin-top: 90px;
    margin-left: 30px;
    font-size: 2em;
    line-height: 1.2;
}
.manda-div h1 {
    text-align: center;
    font-size: 4em;
    margin-top: 2em;
    line-height: 1.2;
}
.manda-div p {
    display: flex;
    justify-content: flex-end;
    margin-right: 29%;
    font-size: 1.5em;
    font-weight: 900;
}
.manda-div h3 {
    margin-top: 30%;
    text-align: left;
    margin-left: 7%;
    padding-bottom: 30px;
}
@media only screen 
and (max-device-width: 700px)
and (-webkit-min-device-pixel-ratio: 2) {
.white-container {
    margin: 0 15%;
}
.lopes-image p {
    margin-top: 16vw;
    margin-left: 5vw;
    font-size: 5vw;
}
.lopes-image img{
    max-height: 24vw;
}
.lopes-image {
    padding-top: 15vw;
}
.manda-div h1{
    font-size: 7vw;
    margin-top: 10vw;
}
.manda-div p{
    margin-right: 15%;
    font-size: 3vw;
}
.manda-div h3{
    padding-bottom: 0;
}
}