.reddit {
    display: flex;
    justify-content: space-evenly;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 9em;
    /* flex-wrap: wrap; */
}
.reddit .sub-reddit {
    flex-basis: 30%;
}
.header{
    font-size: 2.5em;
    margin: 1.5em 3em;
}
.reddit p {
    font-weight: 700;
}
@media only screen 
and (max-device-width: 700px)
and (-webkit-min-device-pixel-ratio: 2) {
    .reddit {
        width: 100%;
        overflow: hidden;
        margin: 50px 0px;
        font-size: 1vw;
        display: none;
    }
}