.wp p:nth-child(1){
    font-size: 3em;
}

.seventyfive{
    font-size: 10em;
    position: absolute;
    z-index: 3;
    /* writing-mode: vertical-lr; */
    /* margin-bottom: 17%; */
    margin-top: -1.3em;
    /* background-color: azure; */
}