.nav-container {
    display: flex;
    justify-content: space-between;
    margin: 3em 7%;
}
.nav-container ul{
    display: flex;
    list-style-type: none;
}

.nav-container li {
    padding-left: 20px;
    display: flex;
    align-items: center;
    font-weight: 600;
}
.nav-container a {
    text-decoration: none;
}
@media only screen 
  and (max-device-width: 700px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .nav-container {
        margin: 2em 10%;
        margin-bottom: 0 !important;
    }
    #date {
        display: none !important;
    }
}