
.purple-page{
    height: 700px;
    background-color: #ff427f;
    display: flex;
    justify-content: flex-end;
   
}
.red-page {
    height: 700px;
    background-color: #007892;
    display: flex;
    justify-content: flex-end;
}
.purple-page h1 {
padding-top: 180px;
margin:0;
text-align: right;
color: #bdb1b0;
font-size: 20em;
padding-right: 50px;

}
.red-page h1 {
margin:0;
text-align: left;
color:#bdb1b0;
font-size: 20em;
}
.qq {
    color: #007891;
    background: #b19658;
    padding-left: 150px;
    text-align: center;
}
.is {
   color: #1f4068;
}
.pp {
    font-weight: 700 !important;
}

@media only screen 
and (max-device-width: 700px)
and (-webkit-min-device-pixel-ratio: 2) {
    .purple-page h1 {
        font-size: 6em;
        padding: 0;
       padding-top:55px ;
    }
    .purple-page {
        height: 205px;
    }
    .facemirror {
        height: 333px;
        /* transform: rotateX(90deg); */
    }
    .red-page {
        display: block;
    background-color: #007892;
    height: 380px;
    text-align: center;
    }
    .red-page h1 {
        font-size: 6em;
    }
}