
.home-container {
    max-width: 100% !important;
    overflow-x: hidden !important;
}
.title-right{
    position: absolute;
    writing-mode: vertical-lr;
    right: 20%;
    text-orientation: upright;
    -webkit-text-emphasis: triangle;
}
.blog-text {
    /* color: white; */
    padding: 20px 0px 0px 0px;
}

.task-text {
    padding-top: 30px;
}
.grey-container {
    display: flex;
    justify-content: space-evenly;
    /* padding: 32px; */
    margin: 3em 5%;
    margin-top: 10em;
    /* margin-bottom: 15em; */
    flex-wrap: wrap;
   
}
.grey-container .script-echo {
    flex-basis: 25%;
    /* text-align: left; */
    text-align: center;
}
.grey-container .book-logs {
    flex-basis: 25%;
    text-align: center;
}
.grey-container .of-old-hat {
    flex-basis: 25%;
    text-align: center;
}
.grey-container h1 {
    font-size: 2.5em;
    margin-bottom: 1.5em;
}
/* .script-echo h1, .book-logs h1, .of-old-hat h1 {
    text-align: center;
} */
.loader {
    /* display: flex;
    justify-content: center;
    align-items: center; 
    z-index: 2;
    position: absolute;
    top :50%;
    left:50%;
    position: absolute;
    background-color: white;
    z-index: 3;
    height: 100vh; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    /* background-color: white; */
    /* height: 100vh; */
}

#task-list, .addtask-form button {
    cursor: pointer;
}


.wave {
    font-weight: 400;
    color: white;
    padding-bottom: 5px;
    background: url("../../asset/wave.svg");
    /* fill:blue; */
    background-repeat: repeat;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto auto;
    /* background-repeat: repeat-x; */
    background-size: 15px 5px; 
    background-position: 2px 19px;
    -webkit-animation: move 15s linear infinite;
    -webkit-animation: move 15s linear infinite;
    -webkit-animation-play-state: paused;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
     animation-play-state: running;
     -webkit-animation-play-state:running;
  }

  .wave-vt {
    font-weight: 400;
    color: white;
    padding-bottom: 5px;
    background: url("../../asset/wave.svg");
    /* fill:blue; */
    background-repeat: repeat;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto auto;
    /* background-repeat: repeat-x; */
    background-size: 15px 5px; 
    background-position: 2px 19px;
    -webkit-animation: move 15s linear infinite;
    -webkit-animation: move 15s linear infinite;
    -webkit-animation-play-state: paused;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
     animation-play-state: running;
     -webkit-animation-play-state:running;
     transform:  translateX(-50%) translateY(-50%) rotate(-90deg);
     width: 4%;
     display: block;
    margin: 17% auto;
  }
  
  
  
  
  @keyframes move {
  from {
      background-position: 2px 19px;
    }
    to {
      background-position: 500px 19px;
    }
  }
  
  @keyframe move {
  from {
      background-position: 2px 19px;
    }
    to {
      background-position: 500px 19px;
    }
  }
  @media only screen 
  and (max-device-width: 700px)
  and (-webkit-min-device-pixel-ratio: 2) {
  .grey-container .script-echo{
      flex-grow: 1;
      padding: 0;
  }
  .grey-container .of-old-hat {
      flex-grow: 1;
      padding: 0;
     
  }
  .grey-container .book-logs {
    flex-grow: 1;
      padding: 0;
      width: 100%;
  }
  .grey-container {
      margin: 50px 10%;
      
      
  }
}
  