.book-logs {
    /* background-color: #F6C406; */
    /* background-color: black; */
    /* color: white; */
    padding: 0 20px;
    /* background-color: #48a4b7 */
    overflow-wrap: break-word;
   
}
.book-logs h1 {
    /* color:black; */
    font-weight: 700;
}